@use './index' as *;

.footer {
    background-color: rgb(30,30,30);
    padding-bottom: 30px;

    &__inner {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        color: white;
        padding-bottom: 30px;

        > div {
            padding: 30px 0;
        }

        a {
            position: relative;
            align-self: flex-start;
            color: white;
            transition: color 0.3s ease;

            &:after {
                content: '';
                position: absolute;
                left: 0;
                bottom: -2px;
                height: 1px;
                width: 0%;
                transition: 0.2s ease;
                background-color: white;
            }

            &:hover {
                &:after {
                    width: 100%;
                } 
            }
        }

        .footer-checkatrade {

            &:before {
                display: none;
            }  

            img {
                margin-bottom: 0 !important;
            }
        }


        .footer-contact {

            padding-top: 0;
            display: flex;
            flex-direction: column;
            gap: 20px;

            img {
                max-width: 220px;
                margin-bottom: 20px;
            }

            p, a {
                margin-bottom: 0;
                font-weight: 400;
                font-size: rem(18px);
                color: white;
            }

            a {

                position: relative;

                &:after {
                    content: '';
                    position: absolute;
                    left: 0;
                    bottom: -2px;
                    height: 1px;
                    width: 0%;
                    transition: 0.2s ease;
                    background-color: white;
                }
    
                &:hover {
                    &:after {
                        width: 100%;
                    } 
                }
            }
        }

        .charity-number {
            font-size: rem(15px);
            color: white;
        }

        .footer-menu,
        .footer-menu-2,
        .footer-legal {

            h4 {
                font-weight: 600;
                font-size: rem(18px);
                color: white;
            }

            ul {
                margin: 0;
                list-style: none;

                li {

                    font-weight: 400;

                    a {
                        font-size: rem(18px);
                    }

                    &:last-of-type {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }

    &__bottom-inner {
        display: flex;
        flex-direction: column;
        gap: 20px;

        p {
            margin-bottom: 0;
            font-size: rem(15px);
            color: white;
        }
    }
}

@include breakpoint(sm) {
    .footer {

        &__inner {
            grid-template-columns: repeat(2, 1fr);
            gap: 40px;
            padding-bottom: 50px;

            > div {
                border: none;
                padding: 0;
            }
        }

        &__bottom-inner {
            flex-direction: row;
            justify-content: space-between;
        }
    }
}

@include breakpoint(md) {
    .footer {

        &__inner {
            grid-template-columns: repeat(4, 1fr);
        }
    }
}