@use './index' as *;

section {
    &.bg-primary {
        background-color: var(--primary);
    }

    &.bg-secondary {
        background-color: var(--secondary);
    }

    &.bg-white {
        background-color: white;
    }

    &.bg-grey {
        background-color: var(--grey);
    }

    &.bg-beige {
        background-color: var(--beige);
    }

    &.bg-light-blue {
        background-color: var(--light-blue);
    }

    &.bg-white-blue-white {
        background: linear-gradient(0deg,rgba(255, 255, 255, 1) 5%, rgba(231, 244, 249, 1) 50%, rgba(255, 255, 255, 1) 95%);
    }

    &.bg-white-blue {
        background: linear-gradient(0deg,rgba(231, 244, 249, 1) 50%, rgba(255, 255, 255, 1) 95%);
    }

    &.bg-blue-white {
        background: linear-gradient(0deg,rgba(255, 255, 255, 1) 5%, rgba(231, 244, 249, 1) 50%);
    }

    &.bg-pattern {
        background-image: url('/wp-content/themes/bexley-deaf-centre/images/pattern-background.webp');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
}