:root {

   // Fonts 
   --title-font: "Sora", sans-serif;
   --para-font: "Work Sans", sans-serif;;
   
   // Theme colours
   --black:  #000000;
   --white: #ffffff;
   --grey: #F5F5F5;
   --primary: #112337;
   --secondary: #3582a6;
   --light-blue: #e7f4f9;
   --beige: #f5f1ed;
   --turquoise: #63CABC;
   --alert: #F15C40;
   --text-color: rgb(80,80,80);

   // Spacing 
   --mobileGap: 20px;
   --desktopGap: 40px;

   //other
   --header-height: 54px;
   --border-radius: 6px;
   --box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 20px 4px;
}