@use '../../../src/scss/theme/index' as *;

.hero {
   overflow: hidden;
   position: relative;
   
   .hero__wave {
      position: absolute;
      bottom: -10px; /* overlap to avoid white line gaps */
      left: 0;
      width: 100%;
      line-height: 0;
      z-index: 2;
   }
    
   .hero__wave svg {
      display: block;
      width: 100%;
      height: 80px; /* adjust wave height */
   }

   &:before {
      z-index: 1;
      position: absolute;
      content: '';
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      background: rgba(0,0,0,0.3);
   }

   .container {
      height: 100%;
      padding-top: 60px;
      padding-bottom: 60px;
   }

   &__content {
      position: relative;
      z-index: 2;
      color: white;
      max-width: 700px;
      display: flex;
      flex-direction: column;
      gap: 20px;
      
      h1 {
         font-size: rem(40px);
         margin-bottom: 0;
      }

      p {
         margin-bottom: 0;
      }

      a {
         margin-top: 10px;
         align-self: center;
      }


   }

   &__inner {
      display: grid;
      align-items: center;
      gap: 40px;
      grid-template-columns: repeat(1, 1fr);
   }

   &__course {
      padding: 20px;
      background-color: #f5f1ed;
      z-index: 2;
      border-radius: var(--border-radius);
   }

   &__course-info {

      margin-bottom: 14px;
      display: flex;
      align-items: center;
      gap: 12px;

      img {
         height: 26px;
         width: auto;
      }

      p {
         color: var(--text-color);
         margin-bottom: 0;
      }

      &:last-of-type {
         margin-bottom: 0;
      }
   }
}

@include breakpoint(sm) {
   .hero {
      &__inner {
         grid-template-columns: 1fr 300px;
      }
   }
}


@include breakpoint(md) {
   .hero {

      &:before {
         width: 70%;
         background: linear-gradient(90deg,rgba(000, 000, 000, 0.8) 0%, rgba(000, 000, 000, 0.36) 67%, rgba(0, 0, 0, 0) 100%);        
      }

      .container {
         padding-top: 110px;
         padding-bottom: 110px;
      }

      &__inner {
         grid-template-columns: 1fr 380px;
         gap: 140px;
      }

      &__content {
         
         h1 {
            font-size: rem(50px);
         }

         a {
            align-self: flex-start;
         }
      }
   }
}