@use '../../../src/scss/theme/index' as *;

.fifty-fifty {

   position: relative;

   &__inner {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: 40px;
   }

   &__left {
      display: flex;
      flex-direction: column;
      justify-content: center;
      z-index: 1;

      h2 {
         color: var(--primary);
      }

      .btn {
         align-self: flex-start;
         margin-top: 12px;
      }

      ul {
         list-style: none;
         margin-left: 0;
         margin-bottom: 20px;

         li {
            margin-bottom: 14px;
            padding-left: 30px;
            position: relative;
            
            &::after {
               position: absolute;
               content: '';
               left: 0;
               top: 4px;
               height: 20px;
               width: 20px;
               background-color: var(--secondary);
               border-radius: 50%;
               background-size: contain;
               background-repeat: no-repeat;
               background-position: center;
               background-size: 11px 11px;
               background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='2.7 4 18.6 16'%3E%3Ctitle%3E%3C/title%3E%3Cg id='Complete'%3E%3Cg id='tick'%3E%3Cpolyline fill='none' points='3.7 14.3 9.6 19 20.3 5' stroke='%23FFFFFF' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'%3E%3C/polyline%3E%3C/g%3E%3C/g%3E%3C/svg%3E");                
            }
         }
      }
   }

   &__preheader {
      font-size: 15px;
      text-transform: uppercase;
      font-weight: 600;
      margin-bottom: 10px;
      color: var(--secondary);
   }
   
   &__right {
      position: relative;
      margin: 80px 0;

      .graphic-blue {
         position: absolute;
         left: 0px;
         bottom: -100px;
         height: 160px;
         width: auto;
         will-change: transform;
         transition: transform 0.1s linear;
      }

      .dots-blue {
         position: absolute;
         right: 0px;
         top: -100px;
         height: 160px;
         width: auto;
         will-change: transform;
         transition: transform 0.1s linear;
      }
   }

   &__right-inner {
      overflow: hidden;
      position: relative;
      overflow: hidden;
      border-radius: var(--border-radius);
      height: 400px;
      width: 100%;
      z-index: 2;
   }

   &.bg-primary {

      .fifty-fifty__preheader {
         color: var(--turquoise);
      }

      h2, p, li {
         color: white;
      }  

      .btn {
         background-color: white;
         color: var(--text-color);

         &:hover {
            background-color: var(--grey);
            color: black;
         }
      }
   }

   &.bg-white {
      .fifty-fifty__right-inner {
         box-shadow: var(--box-shadow);
      }
   }

   &.bg-dark {
      background-color: var(--dark-grey);

      h2, p {
         color: white;
      }

      .btn {
         &:hover {
            background-color: white;
            color: var(--dark-grey);
         }
      }
   }
}

@include breakpoint(sm) {

   .fifty-fifty {

      &__inner {
         gap: 80px;
         grid-template-columns: repeat(2, 1fr);
      }

      &__right {
         padding: 0;
         display: flex;
         align-items: center;
      }

      &.wide-fifty {

         .fifty-fifty__inner {
            grid-template-columns: 65% 1fr;
         }
      }

      &.flip {

         &:before {
            left: unset;
            right: 0;
         }

         .fifty-fifty__right {
            order: -1;
         }

         &.wide-fifty {
            .fifty-fifty__inner {
               grid-template-columns: 1fr 65%;
            }
         }
      }
   }
}

@include breakpoint(md) {

   .fifty-fifty {
      &__inner {
         gap: 100px;
         grid-template-columns: 40% 1fr;
      }

      &__right {

         margin: 50px;

         .graphic-blue {
            left: -60px;
            bottom: -60px;
         }
   
         .dots-blue {
            top: -60px;
            right: -60px;
         }
      }

      &.wide-fifty {

         .fifty-fifty__inner {
            grid-template-columns: 55% 1fr;
         }
      }

      &.flip {

         .fifty-fifty__inner {
            grid-template-columns: 1fr 40%;
         }

         &.wide-fifty {
            .fifty-fifty__inner {
               grid-template-columns: 1fr 55%;
            }
         }
      }
   }
}

@include breakpoint(lg) {

   .fifty-fifty {
      &__inner {
         gap: 140px;
      }

      &.wide-fifty {

         .fifty-fifty__inner {
         }
      }

      &.flip {

         .fifty-fifty__inner {
         }

         &.wide-fifty {
            .fifty-fifty__inner {
            }
         }
      }
   }
}

