@use '../../../src/scss/theme/index' as *;

.fifty-fifty {

   position: relative;

   &__inner {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: 40px;
   }

   &__left {
      display: flex;
      flex-direction: column;
      justify-content: center;
      z-index: 1;

      .btn {
         align-self: flex-start;
         margin-top: 12px;
      }
   }

   
   &__preheader {
      font-size: 14px;
      text-transform: uppercase;
      font-weight: 600;
      margin-bottom: 10px;
   }
   
   &__right {
      overflow: hidden;
      border-radius: var(--border-radius);
   }

   &__right-inner {
      position: relative;
      overflow: hidden;
      height: 400px;
      width: 100%;
      z-index: 2;
   }

   &.bg-primary {

      h4, h2, p {
         color: white;
      }

      .btn {
         background-color: white;
         color: var(--text-color);

         &:hover {
            background-color: var(--light-grey);
            color: black;
         }
      }
   }

   &.bg-white {
      .fifty-fifty__right {
         box-shadow: var(--box-shadow);
      }
   }

   &.bg-dark {
      background-color: var(--dark-grey);

      h2, p {
         color: white;
      }

      .btn {
         &:hover {
            background-color: white;
            color: var(--dark-grey);
         }
      }
   }
}

@include breakpoint(sm) {

   .fifty-fifty {

      &__inner {
         gap: 40px;
         grid-template-columns: repeat(2, 1fr);
      }

      &__right {
         padding: 0;
         display: flex;
         align-items: center;
      }

      &.wide-fifty {

         .fifty-fifty__inner {
            grid-template-columns: 65% 1fr;
         }
      }

      &.flip {

         &:before {
            left: unset;
            right: 0;
         }

         .fifty-fifty__right {
            order: -1;
         }

         &.wide-fifty {
            .fifty-fifty__inner {
               grid-template-columns: 1fr 65%;
            }
         }
      }
   }
}

@include breakpoint(md) {

   .fifty-fifty {
      &__inner {
         gap: 60px;
         grid-template-columns: 40% 1fr;
      }

      &.wide-fifty {

         .fifty-fifty__inner {
            grid-template-columns: 55% 1fr;
         }
      }

      &.flip {

         .fifty-fifty__inner {
            grid-template-columns: 1fr 40%;
         }

         &.wide-fifty {
            .fifty-fifty__inner {
               grid-template-columns: 1fr 55%;
            }
         }
      }
   }
}

