@use '../../../src/scss/theme/index' as *;

.general-cards {

    &__inner {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    &__card {
        width: 100%;
        box-shadow: var(--box-shadow);  
        border-radius: var(--border-radius);
        background-color: white;
        display: flex;
        flex-direction: column;
    }

    &__card-image {
        position: relative;
        overflow: hidden;
        border-top-left-radius: var(--border-radius);
        border-top-right-radius: var(--border-radius);
        height: 250px;

        &:after {
            position: absolute;
            content: '';
            left: 0;
            bottom: 0;
            height: 27%;
            width: 100%;
            background: linear-gradient(0deg,rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.36) 67%, rgba(0, 0, 0, 0) 100%);
        }
    }

    &__card-content {
        padding: 20px 20px 20px 20px;
        position: relative;
        text-align: center;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        gap: 20px;

        h3 {
            margin-bottom: 0;
            color: var(--primary) !important;
        }

        p {
            color: var(--text-color) !important; 

            &:last-of-type {
                margin-bottom: 0;
            }
        }

        h5 {
            font-weight: 300;
            font-size: 20px;
        }

        .btn {
            margin-top: auto;
        }

        &.icon-card {
            padding: 50px 20px 20px 20px;
        }
    }

    &__card-icon {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: -30px;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background-color: var(--secondary);
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            max-width: 30px;
            max-height: 30px;
        }
    }

    &__content {
        max-width: 700px;
        margin: auto;
        text-align: center;
        margin-bottom: 50px;
    }

    &__link {
        margin-top: 50px;
        display: flex;
        justify-content: center;
    }

    &.bg-primary {
        h2, p {
            color: white !important;
        }
    }
}

@include breakpoint(sm) {
    .general-cards {

        &__inner {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            gap: 40px;
        }

        &__card {
            width: calc(50% - 20px);
        }

        &__card-content {
            padding: 24px 24px 24px 24px;

            &.icon-card {
                padding: 50px 24px 24px 24px;
            }
        }
    }
}

@include breakpoint(md) {
    .general-cards {

        &__card {
            width: calc(25% - 30px);
        }

        &.three-column {
           .general-cards__card {
                width: calc(33.333% - 40px);
           } 
        }
    }
}