@use '../../../src/scss/theme/index' as *;

.quote-highlight {

    position: relative;
    min-height: 400px;
    padding-top: 100px;

    &__quote-background {
        position: absolute;
        left: 0;
        top: 80px;
        width: 80%;
        height: calc(100% - 120px);  
        background-color: var(--primary);
        border-bottom-right-radius: var(--border-radius);
        border-top-right-radius: var(--border-radius);
        opacity: 0.9;
    }

    &__quote-icon {
        position: absolute;
        border-radius: 50%;
        height: 100px;
        width: 100px;
        background-color: var(--secondary);
        right: 60px;
        top: -50px;
        display: flex;
        align-items: center;
        justify-content: center;

        &::before {
            content: '';
            width: 94px;
            height: 94px;
            border: 2px solid white;
            border-radius: 50%;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate3d(-50%, -50%, 0);
        }

        img {
            height: 30px;
            width: 30px;
        }
    }

    &__quote {

        padding: 50px 0 60px 0;
        z-index: 2;
        width: 75%;

        h3, p {
            color: white;
        }

        p {
            margin-bottom: 0;
        }
    }

    &__inner {
        display: flex;
        flex-direction: column;
        gap: 30px
    } 

    h3 {
        margin: 30px 0;
        font-style: italic;
    }

}

@include breakpoint(sm) {

    .quote-highlight {

        &__inner {
            flex-direction: row;
            justify-content: flex-start;
            gap: 60px;
            margin: 0 60px;
        }

        &__quote {
            width: 50%;
        }

        &__quote-background {
            width: 60%;
        }

        &__quote-icon { 
            right: 140px;
        }

        &.align-left {
            .quote-highlight__inner {
                flex-direction: row-reverse;
            }
        }
    }
}

@include breakpoint(md) {
    .quote-highlight {
        &__quote-background {
            height: calc(100% - 160px);  
            top: 50%;
            transform: translateY(-50%);
        }

        &__inner {
            margin: 0 120px;
        }
    }
}