@use '../../../src/scss/theme/index' as *;

.course-list {
    &__inner {
        display: grid;
        gap: 30px;
        grid-template-columns: repeat(1, 1fr);
    }

    &__content {
        max-width: 700px;
        margin-bottom: 40px;
    }

    &__card {
        position: relative;
        box-shadow: var(--box-shadow);
        overflow: hidden;
        border-radius: var(--border-radius);

        .course-info {

            display: flex;
            margin-top: 180px;
            position: relative;
            z-index: 2;
            background-color: white;

            h3, p {
                margin-bottom: 0;
            }

            .course-date {
                width: 60px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                background-color: var(--secondary);
                color: white;
                flex-shrink: 0;
                font-size: rem(22px);
            }

            .course-details {
                padding: 16px;
                display: flex;
                flex-direction: column;
                gap: 14px;
                flex-grow: 1;

                .course-details-top {
                    display: flex;
                    justify-content: space-between;
                    align-items: baseline;
                }

                .course-details-bottom {
                    display: flex;
                    flex-direction: column;
                    gap: 14px;
                    justify-content: space-between;
                    
                    .location {
                        display: flex;
                        align-items: center;
                        gap: 4px;

                        p {
                            font-size: rem(16px);
                        }
                    }

                    svg {
                        height: 20px;
                        width: 20px;
                    }
                }
            }
        }
    }
}

@include breakpoint(sm) {
    .course-list {
        &__inner {
            gap: 40px;
            grid-template-columns: repeat(2, 1fr);
        }

        &__card {
            .course-info .course-details .course-details-bottom {
                flex-direction: row;

                .price {
                    margin-left: 14px;
                }
            }
        }
    }
}

@include breakpoint(md) {
    .course-list {
        &__inner {
            grid-template-columns: repeat(3, 1fr);
        }
    }
}