@use '../../../src/scss/theme/index' as *;

.course-units {

    &.bg-primary {

        background-color: var(--primary);

        h2, p {
            color: white;
        }
    }

    &__inner {
        display: grid;
        gap: 40px;
        grid-template-columns: repeat(1fr, 1);
    }

    &__image {
        position: relative;
        overflow: hidden;
        height: 300px;
        box-shadow: var(--box-shadow);
    }

    .unit-container {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .course-title {
        display: flex;
        flex-wrap: wrap;
        align-items: baseline;
        gap: 20px;
    }

    .assessed {
        padding-left: 24px;
        position: relative;
        font-size: 17px;
        margin-top: 10px;

        &:after {
            position: absolute;
            content: '';
            left: 0;
            top: 2px;
            height: 16px;
            width: 16px;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' id='_x32_' xml:space='preserve' viewBox='42.77 0 426.46 512'%3E%3Cstyle type='text/css'%3E	.st0%7Bfill:%233582a6;%7D%3C/style%3E%3Cg%3E%3Cpath class='st0' d='M458.159,404.216c-18.93-33.65-49.934-71.764-100.409-93.431c-28.868,20.196-63.938,32.087-101.745,32.087 c-37.828,0-72.898-11.89-101.767-32.087c-50.474,21.667-81.479,59.782-100.398,93.431C28.731,448.848,48.417,512,91.842,512 c43.426,0,164.164,0,164.164,0s120.726,0,164.153,0C463.583,512,483.269,448.848,458.159,404.216z' fill='%233582a6'%3E%3C/path%3E%3Cpath class='st0' d='M256.005,300.641c74.144,0,134.231-60.108,134.231-134.242v-32.158C390.236,60.108,330.149,0,256.005,0 c-74.155,0-134.252,60.108-134.252,134.242V166.4C121.753,240.533,181.851,300.641,256.005,300.641z' fill='%233582a6'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
        }
    }

    &__right {
        > h2, > P {
            max-width: 600px;
        }
    }

    &__unit {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        box-shadow: var(--box-shadow);
        border-radius: var(--border-radius);
        overflow: hidden;

        h3 {
            margin-bottom: 0px;
            color: var(--primary) !important;
        }

        p {
            margin-bottom: 0;
            color: var(--text-color);
            font-size: rem(20px);
        }

        ul {
            margin: 0;
            display: flex;
            flex-wrap: wrap;
            gap: 14px;
            list-style: none;

            li {
                padding: 4px 12px 4px 24px;
                color: var(--primary);
                margin-bottom: 0;
                font-size: rem(18px);
                position: relative;

                &::before {
                    content: '';
                    position: absolute;
                    left: 0px;
                    top: 6px;
                    height: 18px;
                    width: 18px;
                    border-radius: 50%;
                    background-color: var(--secondary);
                    background-size: 16px 16px;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='SVGRepo_bgCarrier' stroke-width='0'%3E%3C/g%3E%3Cg id='SVGRepo_tracerCarrier' stroke-linecap='round' stroke-linejoin='round'%3E%3C/g%3E%3Cg id='SVGRepo_iconCarrier'%3E%3Cpath d='M4.89163 13.2687L9.16582 17.5427L18.7085 8' stroke='%23FFFFFF' stroke-width='2.5' stroke-linecap='round' stroke-linejoin='round'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");                }
            }
        }

        .course-unit-left {
            padding: 18px;
            background-color: var(--grey);

            h3 {
                color: white;
            }
        }

        .course-unit-right {
            padding: 18px;
            background-color: white;
        }
    }

    &.venue-list {
        .course-units__unit {
            ul {
                li {
                    &::before {
                        background-color: transparent;
                        background-image: url("data:image/svg+xml,%3Csvg fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='2 2 20 20'%3E%3Cg id='SVGRepo_bgCarrier' stroke-width='0'%3E%3C/g%3E%3Cg id='SVGRepo_tracerCarrier' stroke-linecap='round' stroke-linejoin='round'%3E%3C/g%3E%3Cg id='SVGRepo_iconCarrier'%3E%3Cpath d='M12 7V12L14.5 10.5M21 12C21 16.9706 16.9706 21 12 21C7.02944 21 3 16.9706 3 12C3 7.02944 7.02944 3 12 3C16.9706 3 21 7.02944 21 12Z' stroke='%233582a6' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");                    
                    }
                }
            }
        }

        .assessed {
            &:after {
                background-image: url("data:image/svg+xml,%3Csvg fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='4 2 16 20'%3E%3Cg id='SVGRepo_bgCarrier' stroke-width='0'%3E%3C/g%3E%3Cg id='SVGRepo_tracerCarrier' stroke-linecap='round' stroke-linejoin='round'%3E%3C/g%3E%3Cg id='SVGRepo_iconCarrier'%3E%3Cpath d='M12 21C15.5 17.4 19 14.1764 19 10.2C19 6.22355 15.866 3 12 3C8.13401 3 5 6.22355 5 10.2C5 14.1764 8.5 17.4 12 21Z' stroke='%233582a6' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3C/path%3E%3Cpath d='M12 12C13.1046 12 14 11.1046 14 10C14 8.89543 13.1046 8 12 8C10.8954 8 10 8.89543 10 10C10 11.1046 10.8954 12 12 12Z' stroke='%233582a6' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");            
            }
        }    
    }
}

@include breakpoint(sm) {
    .course-units {

        &__inner {
            gap: 60px;
            grid-template-columns: 35% 1fr;
        }

        &__left {
            height: unset;
            display: flex;
            flex-direction: column;
        }

        &__image {
            margin-top: 20px;
            height: unset;
            max-height: 500px;
            flex-grow: 1;
        }

        &__right {
            gap: 30px;
        }

        .assessed {
            margin-top: 0;
        }

        .course-unit-left {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            align-items: baseline;
            gap: 20px;

            h3 {
                margin-bottom: 0;
            }
        }
    }
}