@use '../../../src/scss/theme/index' as *;

.full-image-cta {

    &__inner {
        padding: 30px 30px 100px 30px;
        position: relative;
        overflow: hidden;
        border-radius: var(--border-radius);

        &:before {
            position: absolute;
            content: '';
            z-index: 1;
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            background: var(--primary);
            opacity: 0.86;    
        }

        &.bg-inner-turquoise {
            &:before {
                background: var(--turquoise);
            }

            span {
                color: white;
            }

            h2 {
                color: var(--primary);
            }

            p {
                color: rgba(50,50,50,1);
            }
        }

        &.bg-inner-black {
            &:before {
                background: rgba(0,0,0);
            }
        }

        &.bg-inner-red {
            &:before {
                background: var(--alert);
            }
        }
    }

    &__content {
        position: relative;
        color: white;
        z-index: 1;

        span {
            font-weight: 600;
            color: var(--turquoise);
            font-size: 14px;
            text-transform: uppercase;
        }

        h2 {
            margin-top: 6px;
            color: white;
        }

        .btn {
            margin-top: 20px;
        }

        p {
            margin-bottom: 40px;
            position: relative;
            color: white;
        }
    }


    &.align-center {

        .full-image-cta__inner {

            display: flex;
            align-items: center;
            justify-content: center;

            &:before {
                width: 100%;
                height: 100%;
                background: rgba(000, 000, 000, 0.30);
            }
        }

        .full-image-cta__content {
            width: unset;
            max-width: 700px;
            text-align: center;
        }
    }
}

@include breakpoint(sm) {

    .full-image-cta { 

        &:before {
            width: 70%;
        }
        
        &__inner {
            padding: 40px;
        }
    
        &__content {
            width: 360px;
        }
    }
}

@include breakpoint(md) {

    .full-image-cta {

        &__inner {
            padding: 50px;
        }
    }
}