@use '../../../src/scss/theme/index' as *;

.icon-repeater {

    &__content {
        text-align: center;
        max-width: 700px;
        margin: auto;
        margin-bottom: 40px;

        h2 {
            margin-bottom: 10px;
        }
    }

    &__inner {
        display: grid;
        grid-template-columns: repeat(1fr, 1);        
        gap: 30px;
    }

    &__card {
        width: 100%;
        padding: 20px 34px;
        box-shadow: var(--box-shadow);
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        border-radius: var(--border-radius);
        overflow: hidden;

        h3 {
            font-size: 1.3rem;
            margin-bottom: 10px;
            text-align: center;
        }

        p {
            margin-bottom: 0;
            color: gray;
        }
    }

    &__card-icon {
        width: 60px;
        height: 60px;
        background-color: var(--secondary);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;

        img {
            max-width: 30px;
            max-height: 30px;
            margin-bottom: 0;
        }
    }

    &__link {
        display: flex;
        justify-content: center;
    }

    &.bg-primary {
        h2, p {
            color: white !important;
        }
    }
}

@include breakpoint(sm) {

    .icon-repeater {

        &__content {
            margin-bottom: 60px;
        }
    }
}

@include breakpoint(md) {

    .icon-repeater {

        &__inner{
            grid-template-columns: repeat(3, 1fr);        
        }

        &.columns-2 {
            .icon-repeater__inner {
                margin: 0 100px;
                grid-template-columns: repeat(2, 1fr);        
            }
        }

        &.columns-4 {
            .icon-repeater__inner {
                grid-template-columns: repeat(4, 1fr);        
            }
        }
    }
}